
header{
    display: flex;
    border: 1px solid #000;
    background-color: #4AA3A3;
    justify-content: space-between;
    align-items: center;
}
h2{
    margin-left: .5rem;
}
button{
    all:unset;
    margin-right: 1rem;
}
button:hover{
    color:#56DCAA
}