* {
    margin: 0;
    border: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    background-color: azure;
}
h1 {
    color: #79f767;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.container {
    width: 30rem;
    height: 30rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 0.3rem solid black;
}
.row {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.row .col {
    flex-grow: 1;
    height: 100%;
    background-color: #ffffff;
    border: 0.1rem solid black;
    border-bottom-width: 0px;
    border-left-width: 0px;
    text-align: center;
    display: flex;
    align-items: center;
}
input {
    display: block;
    width: 100%;
    caret-color: transparent;
    text-align: center;
    font-size: 2rem;
    background-color: transparent;
}
.danger {
    border-color: red;
}
.active {
    background-color: rgb(105, 252, 187, 0.5) !important;
}
.row:nth-child(3n) {
    border-bottom: 0.3rem solid black;
}
.col:nth-child(3n) {
    border-right: 0.3rem solid black;
}
.row:nth-child(9) {
    border-bottom-width: 0px;
}
.col:nth-child(9) {
    border-right-width: 0px;
}
.row:nth-child(1) .col {
    border-top-width: 0px;
}
button {
    padding: 1rem 2rem;
    position: absolute;
    top: 50%;
    font-size: 2rem;
    display: block;
    transform: translateY(-50%);
    left: 10%;
    transition: all 0.4s;
    border-radius: 0.3rem;
}
button:hover {
    opacity: 0.7;
}
@media screen and (max-width: 1200px) {
    :root {
        font-size: smaller;
    }
    button {
        position: static;
        margin: auto;
        margin-top: 3rem;
        padding: 2rem 4rem;
        font-size: xx-large;
        transform: none;
    }
}
@media (max-width: 568px) {
    :root {
        font-size: xx-small;
    }
    .container{
        width: 95vw;
        height: 95vw;
    }
    
}
