:root {
    --text-color: #f3f3f3;
    --form-color: #858585;
    font-size: medium;
}
#main {
    background-image: linear-gradient(
            90deg,
            rgba(115, 115, 187, 0.8),
            rgba(115, 115, 187, 0.5)
        ),
        url('https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 3rem;
}
header {
    width: 50%;
    margin: 0rem auto;
    color: var(--text-color);
}
*{
    box-sizing: border-box;
}
label {
    color: var(--text-color);
}


@media  screen and (max-width:1024px) {
    #survey-form,header{
        width: 80% !important;
    }
}

@media  screen and (max-width:564px) {
    :root{
        font-size: xx-small;
    }
    #survey-form,header{
        width: 100% !important;
    }
    
}
#name,
#email,
#number,
#dropdown,
#feature-list {
    box-sizing: border-box;
    width: 100%;
    border-radius: 0.2rem;
    outline: none;
    font-size: large;
    padding: 0.5rem;
    transition: border .5s;
}

#title {
    font-size: xx-large;
    text-align: center;
}
#description {
    font-size: large;
    text-align: center;
    font-weight: 300;
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
#survey-form {
    background-color: rgba(0, 0, 0, 0.6);
    width: 50%;
    border-radius: 0.2rem;
    margin: auto;
    padding: 2rem;
}
.form-item {
    overflow: hidden;
    margin-bottom: 1rem;
}
option:enabled{
    color: #000000;
}
:focus {
    border: .2rem solid #23A9F2;
}
textarea:focus {
    border: .1rem solid black;
}
input[type='radio'],
input[type='checkbox'] {
    width: 1.5rem;
    height: 1.5rem;
    transform: translateY(0.2rem);
}
select{
    color:var(--form-color);
}
option:disabled {
    opacity: 0.5;
    color: var(--form-color);
}
.radio-container {
    margin-bottom: 1rem;
}
.title-label {
    display: block;
    font-size: large;
    margin-bottom: 1rem;
}
.check {
    margin-bottom: 0.5rem;
}
textarea {
    width: 100%;
    resize: vertical;
    padding-left: 1rem;
    color:#000000;
    padding-top: .5rem;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
}

#submit{
    background-color: #37AF65;
    width: 100%;
    padding: 1rem 0;
    font-size: x-large;
    margin-bottom: 3rem;

}
