* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    outline: none;
    color: #ffffff;
}
@media (max-width: 1024px) {
    :root {
        font-size: smaller;
    }
}
@media (max-width: 576px) {
    :root {
        font-size: xx-small;
    }
}
body {
    background-color: #161616;
}
.App{
    width: 100%;
}
